@media (max-width:426px) {
  .plataformas-data h2 {
    font-size: max(14px, 0.2vw);
    font-family: 'teko';
    letter-spacing: 2px;
  }

  .plataformas {
    margin-top: 10px;
  }

  .sobre-texto {
    padding: 15px;
    position: absolute;
    left: 20px;
    top: -3%;
  }
  
  .sobre-texto h1 {
    font-size: 15px;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1.5px;
  }
  
  .sobre-texto h2 {
    font-size: 16px;
    font-family: 'teko', sans-serif;
    letter-spacing: 2px;
    color: #bb1020;
  }
  
  .sobre-texto p {
    width: 54%;
    line-height: 9.9px;
    margin-top: 10px;
    font-size: 10px;
    font-family: "EB Garamond", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px #000;
    letter-spacing: 0.2px;
  }
  
}