* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-attachment: fixed;
  color: #fff;
}

.logo-inicial {
  width: 100%;
  position: relative;
}

.logo-inicial img {
  width: 100%;
}

.plataformas-data {
  color: white;
  position: absolute;
  left: 5%;
  top: 68%;
}

.plataformas-data h2 {
  font-size: 26px;
  font-family: 'teko';
  letter-spacing: 2px;
}

.plataformas-data h2 span {
  color: #bb1020;
}

.plataformas {
  list-style-type: none;
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.plataformas li {
  margin-left: 10px;
  width: 10%;
}

.plataformas li img {
  width: 100%;
}

.sobre {
  margin-top: 10px;
  border-top: 2.5px solid #bb1020;
  position: relative;
}

.sobre img {
  width: 100%;
}

.sobre-texto {
  width: 620px;
  padding: 15px;
  position: absolute;
  left: 35px;
  top: 10%;
}

.sobre-texto h1 {
  font-size: 42px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1.5px;
}

.sobre-texto h2 {
  font-size: 32px;
  font-family: 'teko', sans-serif;
  letter-spacing: 2px;
  color: #bb1020;
}

.sobre-texto p {
  line-height: 40px;
  font-size: 20px;
  margin-top: 15px;
  text-shadow: 2px 2px #000;
  letter-spacing: 0.2px;
}
